@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-12 20:31:16
 * @version $Id$
 */
 #mainbox1 {
 	height:110px ;
 	width:350px;
 	margin-top:30px;
 	 border:1px solid gray;

}
#m1{
	height:30px ;
 	width:70px;
 	
 	float: left;
 	border right:1px solid black;


}
#m2{
	height:30px ;
 	width:70px;
 	float: left;
 	background:gray;
 	border bottom:1px solid black;
 	border left:1px solid black;
 	 
}
#m3{
	height:30px ;
 	width:70px;
 	float: left;
 	margin:0px;
 	background: gray;
 	border bottom:1px solid black;
 	 
}
#m4{
	height:30px ;
 	width:70px;
 	float: left;
 	margin:0px;
 	background: gray;
 	border bottom:1px solid black;
 	border right:1px solid black;
 	 
}
#m5 {
 	height:25px ;
 	width:300px;
 	margin-top: 43px;
 	margin-left: 10px;
 	 border:1px solid gray;

}
#m6 {
 	height:25px ;
 	width:300px;
 	margin-top: 5px;
 	margin-left: 10px;
 	 border:1px solid gray;

}




 #mainbox2 {
 	height:130px ;
 	width:350px;
 	
 	 border:1px solid gray;

}

 #b1 {
 	height:70px ;
 	width:70px;
 	background: red;
 	 border:1px solid red;
 	 margin-top: 10px;
 	margin-left: 13px;
 	float: left;


}
 #b2 {
 	height:20px ;
 	width:230px;
 	
 	 border:1px solid gray;
 	 margin-top: 22px;
 	margin-left: 6px;
 	float: left;

}
 #b3 {
 	height:20px ;
 	width:230px;
  border:1px solid gray;
 	 margin-top: 5px;
 	margin-left: 6px;
 	float: left;

}
#bbox{
	height:28px ;
 	width:310px;
  border:0px solid red;
  float: right;
 margin-top: 8px;
 	margin-right: 18px;
}
 #b4 {
 	height:25px ;
 	width:100px;
  border:1px solid red;
 	
 	float :left;
 	background: red;

}
 #b5 {
 	height:25px ;
 	width:90px;
  border:1px solid red;
 	background: red; 
 	margin-left: 8px;
 	float: left;
}




 #mainbox3 {
 	height:45px ;
 	width:350px;
 	
 	 border:1px solid gray;

}
#c{
	height:20px ;
 	width:300px;
 	margin: auto;
 	margin-top:12px;
 	 border:1px solid gray;

}
 #mainbox4 {
 	height:165px ;
 	width:350px;
 	
 	 border:0px solid gray;

}
#d1{
	height:164px ;
	width:140px;
	float: left;
	border: 1px solid gray;
}
#d2{
	height:81px ;
	width:68px;
	float: left;
	margin: 0px;
	border: 1px solid gray;

}
#d3{
	height:81px ;
	width:67px;
	float: left;
	margin: 0px;
	border: 1px solid gray;

}

 #mainbox5 {
 	height:80px ;
 	width:350px;
 
 	 border:1px solid gray;

}
#e1{
	height:78px ;
	width:68px;
	float: left;
	margin: 0px;
	border: 1px solid gray;

}
#e2{
	height:78px ;
	width:69px;
	float: left;
	margin: 0px;
	border: 1px solid gray;

}
#aa{
	height:80px ;
	width:50px;
	margin-left: 45px;
	margin-top:40px;
	border: 1px solid red;
	background: red;

}
#bb{
	height:40px ;
	width:40px;
	margin-left: 13px;
	margin-top:15px;
	border: 1px solid red;
	background: red;

}
#p1{
	margin-top:90px;
	margin-left:45px;
}
#p2{
	margin-top:40px;
	margin-left:20px;
}
#p3{
	margin-top:40px;
	margin-left:10px;
}

